/* généralité*/
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
}
:root{
    --red:#B11313;
    --blue:#114c92;
    --yellow: #F1C530;
}
@font-face{
    font-family: 'far_from_homecomingregular';
    src: url("../police/Far-From\ Homecoming\ Updated.otf");

}
@font-face {
    font-family: 'montserrat';
    src: url('../police/Montserrat-VariableFont_wght.ttf');
}
h1{
    font-family:'far_from_homecomingregular' ;
    color: antiquewhite;
    font-size: 5.5em;
}

h3{
    font-family:'far_from_homecomingregular' ;
    color: antiquewhite;

    font-size: 3.5em; 
}

p{
    font-family: 'montserrat';
    color: antiquewhite;
    font-size: 14px;
}
header{
    margin: 0;
    background-color: var(--red);
    height: 5em;  
}


/* style nav*/
#navigation-web a {
    color: aliceblue;
    text-decoration: none;
}
#navigation-mobile{
    display: none;
}

/* responsive */

@media screen and (max-width:766px) {
    #navigation-web a{
        display: none;
          
    }

    #logo{
        
        display: inline-flex;
    }
    #logo1{
        padding: 3px; 
    }

    .spide{
        height: auto;
    }
    #spide-red{
        background-color: var(--red);
        
    }
}

/*mise en place du style section1*/
.section1{
    background-color: var(--yellow);
    margin: 0;

}

/*section2 avec fond rouge */

.section2{
    background-color: var(--red);
    height: 50vh;
    width: 100%;

}

/*section 3 avec fond bleu*/
.section3{
    background-color: var(--blue);
    height: 35vh;

}
.bouton{
    width: 200px;
    border-radius: 30px;
}
div > a{
    text-decoration: none;
    color: aliceblue;
}


/* mise en place footer*/
footer{
    background: black;
    height: 15em;
}



@media  screen and (max-width:769px) {
    #foot-web{
        display: none;

    }
    
}
@media screen and (min-width:769px){
    .foot-mobile{
        display: none;
    }
    .foot-right{
        float: right;
    }
}

/* mise en forme des logo sur la section footer*/

#logo-facebook{
    display: inline-flex;
    text-decoration: none;
    margin: auto;
    width: 25%;
}
#logo-facebook1{
    
    margin: 5%;
    border-radius: 50%;
    width: 10%;
    padding: 5px;
    
}
#selecteur{
    background-color: var(--red);
    border-radius: 20px;
    width: 200%;
    color: aliceblue;
    border-style: none;
}
nav ul>li{
    color: aliceblue;
    font-family: 'montserrat';
}