
/* générale*/

:root{
    --red:#B11313;
    --blue:#114c92;
}
*{
    
    margin: 0;
    padding: 0;
}
body{
    font-family: 'montserrat';
    color:antiquewhite;
}

@font-face{
    font-family: 'spide';
    src: url("../police/Far-From\ Homecoming\ Updated.otf");

}
@font-face {
    font-family: 'montserrat';
    src: url('../police/Montserrat-VariableFont_wght.ttf');
}

/* header*/
h1{
    font-family: 'spide';
    color: antiquewhite;
    font-size: 5.5em;
    padding-top: 20%;
}
h2{
    font-family: 'spide';
    font-size: 3.5em;
}

h3{
    font-family:'spide' ;
    color: antiquewhite;

    font-size: 3.5em; 
}

header{
    margin: 0;
    background-color: var(--blue);
    height: 5em;  
}


/* style nav*/
#navigation-web a {
    color: aliceblue;
    text-decoration: none;
}
#navigation-mobile{
    display: none;
}

/* responsive */

@media screen and (max-width:766px) {
    #navigation-web a{
        display: none;
          
    }

    #logo{
        
        display: inline-flex;
    }
    #logo1{
        padding: 3px; 
    }

    .spide{
        height: auto;
    }
    #spide-red{
        background-color: var(--red);
        
    }
}
/* mise en forme 1er section*/
.section1-spide-noir{
    background: url(../images/img19.png);
    background-size: cover;
    background-position: center;
    
    height: 30em;
}
h1{
    
    font-family: 'spide';
    font-weight: 42;
}

/* mise en forme 2em section*/

.section2-spide-bleu{
    background-color: var(--blue);
    background-size: cover;
    height: 30em;
}
.section-spide-fondation{
    background: url(../images/img20.png);
    height: 20em;
    background-size: cover; 
}

/*section3 fond-bleu*/
.section3-fond-bleu{
    background-color: var(--blue);
}

/* section4 fond-rouge*/
.section4-fond-rouge{
    background-color: var(--red);
}

/* section5 */
.section5{
    background-image: url(../images/img33.png);
    height: 60vh;
    width: 100%;
    background-size: cover;
}


/* mise en place footer*/
footer{
    background: black;
    height: 15em;
}


@media  screen and (max-width:769px) {
    #foot-web{
        display: none;


    }
    .section4-fond-rouge{
        display: none;
    }
    .section5{
        display: none;
    }
}
@media screen and (min-width:769px){
    .foot-mobile{
        display: none;
    }
    .foot-right{
        float: right;
    }
}

/* section5*/
.section5-background{
    background: #114c92;
    width: 40%;
    height: 100%;
    position: relative;
    left:20%;
    opacity: 0.7;
  
}

/* mise en forme des logo sur la section footer*/

#logo-facebook{
    display: inline-flex;
    text-decoration: none;
    margin: auto;
    width:300px;
}
#logo-facebook1{
    
    margin: 5%;
    border-radius: 50%;
    width: 10%;
    padding: 5px;
    
}
#selecteur{
    background-color: var(--blue);
    border-radius: 20px;
    width: 200%;
    color: aliceblue;
    border-style: none;
}
nav ul>li{
    color: aliceblue;
    font-family: 'montserrat';
}