
/* générale*/

:root{
    --red:#B11313;
    --blue:#114c92;
}
*{
    
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'far_from_homecomingregular';
    src: url("../police/Far-From\ Homecoming\ Updated.otf");

}
@font-face {
    font-family: 'montserrat';
    src: url('../police/Montserrat-VariableFont_wght.ttf');
}

/* header*/
h1{
    font-family:'far_from_homecomingregular' ;
    color: antiquewhite;
    font-size: 5.5em;
}
h2{
    font-family: 'montserrat';
    font-size: 20px;
}

h3{
    font-family:'far_from_homecomingregular' ;
    color: antiquewhite;

    font-size: 3.5em; 
}

header{
    margin: 0;
    background-color: var(--blue);
    height: 5em;  
}


/* style nav*/
#navigation-web a {
    color: aliceblue;
    text-decoration: none;
}
#navigation-mobile{
    display: none;
}

/* responsive */

@media screen and (max-width:766px) {
    #navigation-web a{
        display: none;
          
    }

    #logo{
        
        display: inline-flex;
    }
    #logo1{
        padding: 3px; 
    }

    .spide{
        height: auto;
    }
    #spide-red{
        background-color: var(--red);
        
    }
}
/* mise en forme 1er section*/
.section1-spide-noir{
    background: url(../images/img19.png);
    background-size: cover;
    background-position: center;
    
    height: 30em;
}
h1{
    padding-top: 20%;
    font-family: 'spide';
    font-weight: 42;
}

/* mise en forme 2em section*/

.section2-spide-bleu{
    background-color: var(--blue);
    background-size: cover;
    height: 30em;
}
.section-spide-fondation{
    background: url(../images/img20.png);
    height: 20em;
    background-size: cover; 
}

/*section3 fond-bleu*/
.section3-fond-bleu{
    background-color: var(--blue);
}

/* section4 fond-rouge*/
.section4-fond-rouge{
    background-color: var(--red);
}